################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/cmake-3.30.2
/figure_solution
/Lesson11
/Lesson11.7z
